<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FloatFromSkin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="CS_GO_Float_From_Skin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CS_GO_Float_From_Skin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <FloatFromSkin.Properties.Settings>
            <setting name="Cell_id" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="Login_key" serializeAs="String">
                <value />
            </setting>
            <setting name="Sockets_Port" serializeAs="String">
                <value>8001</value>
            </setting>
            <setting name="Sentry_base_64" serializeAs="String">
                <value />
            </setting>
            <setting name="Servers_base_64" serializeAs="String">
                <value />
            </setting>
            <setting name="LoginID" serializeAs="String">
                <value>0</value>
            </setting>
        </FloatFromSkin.Properties.Settings>
        <CS_GO_Float_From_Skin.Properties.Settings>
            <setting name="Cell_id" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="Login_key" serializeAs="String">
                <value />
            </setting>
        </CS_GO_Float_From_Skin.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <CS_GO_Float_From_Skin.Properties.Settings>
            <setting name="Servers_file" serializeAs="String">
                <value>servers.bin</value>
            </setting>
            <setting name="Sentry_file" serializeAs="String">
                <value>sentry.bin</value>
            </setting>
        </CS_GO_Float_From_Skin.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
